</section>
<footer>
<nav class="espacio-arriba1">   
<h3>Código</h3>
<p><a href="https://gitlab.com/prolibreros/herramientas/pecas-legacy" target="_blank">GitLab</a></p>
</nav>
<nav class="espacio-arriba1">   
<h3>Contacto</h3>
<p><a href="mailto:hi@perrotuerto.blog">hi@perrotuerto.blog</a></p>
</nav>
<p class="centrado espacio-arriba1">Pecas es <i>software</i> libre bajo licencia <a href="https://gnu.org/licenses/gpl.html" target="_blank">GPLv3+</a>.</p>
</footer>
<style>
body {margin:0;}
body > * {float:left;}
body > section {width:calc(75% - 10em);margin:5em;}
header {width:calc(25% - 5em);margin-top: 5em;padding:2.5em;background-color:black;color:white;border-radius:0 .5em .5em 0;}
header h1 {margin:0; font-size: 2em;}
header h1 + p {margin-top:1em!important;}
header h3 {margin-top:1em;}
header a {color: white;}
header p, footer nav {text-align:left;}
header p + p, footer p + p {text-indent:0;}
header nav > p:before {content:"> ";}
h2:before {content: "> ";}
div.example h2:before {content: none;}
div.example:after {display:block;width:100%;content:"Estilo por defecto";margin-top:-1.5em;text-align:center;font-size:.75em;}
div.example > div {clear:both;}
div.example > div:last-child {width:94.5%;margin:2em auto;padding:.5em;box-shadow: .1em .1em .5em rgba(0,0,0,.45);}
div.example > div > div {float:left;width:50%;}
div.example > div > div:before {display:block;width:100%;margin-bottom:-1em;text-align:center;font-size:.75em;}
div.example > div > div:first-child:before {content:"Escritura en Markdown";}
div.example > div > div:last-child:before {content:"Resultado en HTML";}
div.example + div.example {border-top: 1px dashed black;margin-top:1.5em;padding-top:1.5em;}
footer {border-top: 1px dashed black; width:calc(100% - 2em); margin: 1em;}
footer > nav {display:none;}
footer nav > * {display:inline;}
footer nav > p:before {content:"> ";}
footer nav > p:not(:first-of-type):before {content:"| ";}
@media screen and (max-width: 768px) {
    body > * {float:none;}
    body > section {width:calc(100% - 5em);margin:2.5em;}
    header {width:calc(100% - 5em);margin-top:0;border-radius:0;}
    header > p:first-of-type {display:inline;}
    header > nav:not(:first-of-type) {display:none;}
    header nav > * {display:inline;}
    header nav > p:before {content:"| ";}
    header h3 + p:before {content: none;}
    header h3:before {content:"\a\a";white-space: pre;}
    header h3:first-of-type:before {content:"\a";}
    header h3:after {content: " > ";}
    div.example > div, div.example > div > div {float:none;width:100%;}
    footer {word-wrap: break-word;}
    footer > nav {display:block;text-align:center;}
}
</style>
