<header>
<h1><a href="../index.html">Pecas</a></h1>
<p>Conjunto de <i>scripts</i> que agilizan varios de los procesos del quehacer editorial.</p>
<nav>
<h3>Generales</h3>
<p><a href="flujo_general.html">Flujo de trabajo general</a></p>
<p><a href="flujo_digitization.html">Flujo de trabajo para la digitalización</a></p>
<p><a href="flujo_epub.html">Flujo de trabajo para <span class="versalita">EPUB</span></a></p>
<p><a href="problemas.html">Solución de problemas / <span class="versalita">FAQ</span></a></p>
<h3>Documentación</h3>
<p><a href="herramientas.html">Herramientas</a></p>
<p><a href="md.html">Markdown</a></p>
<p><a href="css.html"><span class="versalita">CSS</span></a></p>
<p><a href="yaml.html"><span class="versalita">YAML</span></a></p>
<p><a href="js.html">JavaScript</a></p>
</nav>
<nav class="espacio-arriba1">   
<h3>Código</h3>
<p><a href="https://gitlab.com/prolibreros/herramientas/pecas-legacy" target="_blank">GitLab</a></p>
</nav>
<nav class="espacio-arriba1">   
<h3>Contacto</h3>
<p><a href="mailto:hi@perrotuerto.blog">hi@perrotuerto.blog</a></p>
</nav>
</header>
<section>
